  <input type="file" (change)="preview($event)" accept="image/*">
  <br>
  <canvas #canvas width="300" height="300" style="border: 1px solid black"> </canvas>
  <br>

  <input type="color" #selectedColor name="favcolor" ([ngModel])="colorName">
  <button (click)="selectedColorName()"> Change Color </button>
  <button (click)="downloadImage()"> Download Image </button>
  <select #lineWidth >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    
  </select>
  <button (click)="changeLineWidth()"> Change Line Width </button>
  <button (click)="canvasUndo()"> Undo </button>
  <button (click)="canvasRedo()"> Redo </button>
  <button (click)="clearCanvas()"> Clear Canvas </button>



<!--canvas #canvas width="300" height="300" style="border: 1px solid black;"></canvas-->